<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <%- include('common/header'); %>

    <h1>Profile <%= user.name %></h1>
    <h3>Email: <%= user.email %></h3>
    <h3>city: <%= user.city %></h3>
    <ul>
        <% user.skills.forEach((item)=>{ %>
            <li> <%=item %></li>
        <% })%>
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tenetur quas architecto deserunt omnis! Numquam laudantium laborum magnam quaerat minima similique, perspiciatis voluptate ex, quasi sequi recusandae ab ratione corporis, blanditiis enim fuga quidem odit nobis. Ipsam doloribus non culpa, consequuntur dolorem perferendis aliquid dolor fugiat enim dolore sunt suscipit.</p>
</body>
</html>